arrow
duckdb

# build is out
build

# and so it temp (playground)
temp

# CMake Files
CMakeFiles

# Mac Junk
._.DS*
.DS*

# vscode
.vscode

.idea

venv
dist
cmake-build-debug
cmake-build-debug-event-trace

data
