# build is out
build

# and so is data
data

# and so it temp (playground)
temp

# CMake Files
CMakeFiles

# Mac Junk
._.DS*
.DS*

# vscode
.vscode

.idea

venv
dist
arrow
duckdb
cmake-build-debug
data
