<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- We are disabling library validation b/c DuckDB imports extension libraries that are not signed by our Apple Team ID -->
    <key>com.apple.security.cs.disable-library-validation</key>
    <true/>
</dict>
</plist>